<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gridtest.css') }}">
    {% block head %}
    <!-- <h1> European Football Leagues </h1> -->
    {% endblock %}
</head>
<body>
    {% block body %}
    <header>
        
        <ul class="league_links">
            <h1> European Football Leagues </h1>
            {% for league in Leagues %}
            <li class="league_item"><a href="{{url_for('leagues', League=league.League)}}">{{league.League.replace('_', ' ')}}</a></li>
            <br>
    
            {% endfor %}
    
        </ul>
    </header>
    
    
    <footer>
        Placeholder Text
    </footer>

    <main>
        <table class = "cl_table">
            <h4>Top 20 Teams From the Six Leagues</h2>
            <tr>
                <th>League</th>
                <th>Team</th>
                <th>M</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>PTS</th>
                <th>GF</th>
                <th>GA</th>
                <th>xG</th>
                <th>xGA</th>
            </tr>
    
            {% for row in combinedLeague %}
            <tr>
                <td>{{row.League}}</td>
                <td>{{row.Team}}</td>
                <td>{{row.M}}</td>
                <td>{{row.W}}</td>
                <td>{{row.D}}</td>
                <td>{{row.L}}</td>
                <td>{{row.PTS}}</td>
                <td>{{row.G}}</td>
                <td>{{row.GA}}</td>
                <td>{{ "%.2f"|format(row.xG) }}</td>
                <td>{{"%.2f"|format(row.xGA)}}</td>
            </tr>
            {% endfor %}
    
        </table>
    </main>

    <aside>
        <table class="cl_table">
            <h4>Top 20 Goal-Scorers From the Six Leagues</h2>
                <tr>
                    <th>Player</th>
                    <th>Team</th>
                    <th>Position</th>
                    <th>Goals</th>
                    <th>xG</th>
                    <th>Shots</th>
                </tr>
    
                {% for row in Players %}
                <tr>
                    <td>{{row.player_name}}</td>
                    <td>{{row.team_title}}</td>
                    <td>{{row.position}}</td>
                    <td>{{row.goals}}</td>
                    <td>{{ "%.2f"|format(row.xG) }}</td>
                    <td>{{row.shots}}</td>
                </tr>
                {% endfor %}
        </table>

    </aside>
    {% endblock %}
</body>
</html>