<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    {% block head %}{% endblock %}
    <title>{{Team.Team}}</title>
    <!-- <h1>{{Team.Team}}</h1> -->
</head>
<body>
    <div class="grid-container"> 


        <div class="grid-item item-1">
            <!-- 1 (Team & Stats) -->
            <h4>{{Team.Team}}</h4>
            <table class="team_stats">
                <tr>
                    <!-- <th>Team</th> -->
                    <th>M</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>PTS</th>
                    <th>xPTS</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>xG</th>
                    <th>NPxG</th>
                    <th>xGA</th>
                    <th>NPxGA</th>
                    <th>xG_diff</th>
                    <th>xGA_diff</th>
                    <th>PPDA</th>
                    <th>OPPDA</th>
                    <th>DC</th>
                    <th>ODC</th>
                </tr>
                <tr>
                    <!-- <td>{{Team.Team}}</td> -->
                    <td>{{Team.M}}</td>
                    <td>{{Team.W}}</td>
                    <td>{{Team.D}}</td>
                    <td>{{Team.L}}</td>
                    <td>{{Team.PTS}}</td>
                    <td>{{"%.2f"|format(Team.xPTS)}}</td>
                    <td>{{Team.G}}</td>
                    <td>{{Team.GA}}</td>
                    <td>{{"%.2f"|format(Team.xG) }}</td>
                    <td>{{"%.2f"|format(Team.NPxG) }}</td>
                    <td>{{"%.2f"|format(Team.xGA)}}</td>
                    <td>{{"%.2f"|format(Team.NPxGA) }}</td>
                    <td>{{"%.2f"|format(Team.xG_diff)}}</td>
                    <td>{{"%.2f"|format(Team.xGA_diff)}}</td>
                    <td>{{"%.2f"|format(Team.PPDA)}}</td>
                    <td>{{"%.2f"|format(Team.OPPDA)}}</td>
                    <td>{{Team.DC}}</td>
                    <td>{{Team.ODC}}</td>
                </tr>
            </table>
        </div>


        <div class="grid-item item-2">
            <!-- 2 (Player Table) -->
            <!-- <h1>Players</h4> -->
                <table class="team_players">
                    <tr>
                        <th>Player</th>
                        
                        <th>Position</th>
                        <th>Minutes</th>
                        <th>Games</th>
                        <th>Goals</th>
                        <th>xG</th>
                        <th>Assists</th>
                        <th>xA</th>
                        <th>Shots</th>
                        <th>Key Passes</th>
                        <th>Yellow Cards</th>
                        <th>Red Cards</th>
                        <th>Non-Penalty Goals</th>
                        <th>NPxG</th>
                        <th>xGChain</th>
                        <th>xGBuildup</th>
                    </tr>
                    <tbody>
                        {% for row in Player%}
                            <tr>
                                <td>{{row.player_name}}</td>
                                
                                <td>{{row.position}}</td>
                                <td>{{row.time}}</td>
                                <td>{{row.games}}</td>
                                <td>{{row.goals}}</td>
                                <td>{{ "%.2f"|format(row.xG)}}</td>
                                <td>{{row.assists}}</td>
                                <td>{{ "%.2f"|format(row.xA)}}</td>
                                <td>{{row.shots}}</td>
                                <td>{{row.key_passes}}</td>
                                <td>{{row.yellow_cards}}</td>
                                <td>{{row.red_cards}}</td>
                                <td>{{row.npg}}</td>
                                <td>{{ "%.2f"|format(row.npxG) }}</td>
                                <td>{{ "%.2f"|format(row.xGChain) }}</td>
                                <td>{{ "%.2f"|format(row.xGBuildup) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody> 
                </table>
        </div>

        <div class="grid-item item-3">
            <!-- 3 (Attack Rec) -->
            <table class="aSignings">
                <!-- <h1>Attacking Recommendations</h1> -->
                
            {% if aSignings | length == 0 %}
                No Recommendations
            {% else %}
                <th>Attacking Recommendations</th>
                {% for player in aSignings %}
                    <tr><td>{{player.player_name}}</td></tr>
                {% endfor %}
            {% endif %}
            </table>
        </div>



        <div class="grid-item item-4">
            <!-- 4 (Defense Rec) -->
            <table class="dSignings">
                <!-- <h1>Attacking Recommendations</h1> -->
                
            {% if dSignings | length == 0 %}
                No Recommendations
            {% else %}
                <th>Defensive Recommendations</th>
                {% for player in dSignings %}
                    <tr><td>{{player.Name}}</td></tr>
                {% endfor %}
            {% endif %}
            </table>
        </div>



        <div class="grid-item item-5">
            <ul class="GaA">
                <ul class="goals">
                    <h1>Top Goalscorer</h1>
                    {% for player in Goals[0:5] %}
                    <li>{{player.player_name}} Goals: {{player.goals}}</li>
                    {% endfor %}
                </ul>

                
                <ul class="assists">
                    <h1>Top Assists</h1>
                    {% for player in Assists[0:5] %}
                    <li>{{player.player_name}} Assists: {{player.assists}}</li>
                    {% endfor %}
                </ul>
            </ul>
        </div>
    </div>
</body>
</html>