* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
  }

  head{
    margin: 0;
    font-family: arial;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: x-large;
    }


body, html{
    margin: 0;
    font-family: Arial;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: rgb(107, 107, 107);
}
  
  .grid-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .grid-item {
    background-color: #ccc;
    border: 6px solid cornflowerblue;
    padding: 20px;
  }
  
  .item-1 {
    grid-column: 1 / 3;
  }

  .item-1 h1 {
      font-size: xx-large;
  }

  .item-2 {
    grid-area: 1 / 3 / 2 / 4;
    z-index: 1;
  }

  .item-2 table, .item-5 table {
    border-collapse: collapse; 
    margin: 25px 0;
    font-size: small;
    /* min-width: 400px;
    max-width: 1000px; */
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px 5px 0 0;
    overflow:hidden;
  }

   .item-2 h1 , .item-5 h1 {
      font-size: large;

    }

  .item-2 table tr td, .item-5 table tr td{
      font-size: large;
  }

  .item-2 table tr:nth-of-type(even), .item-5 table tr:nth-of-type(even){
    background-color: rgb(221, 221, 221);
    }

  .item-2 table tr:nth-of-type(odd), .item-5 table tr:nth-of-type(odd){
    background-color:rgb(166, 209, 252);
    }

  .item-3 {
    grid-area: 2 / 1 / span 2 / span 2;
  }

  .item-3 table.league_table {
    border-collapse: collapse; 
    margin: 25px 0;
    font-size: small;
    min-width: 400px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px 5px 0 0;
    overflow:hidden;
}

.item-3 table.league_table th {
    background-color: royalblue;
    text-align: center;
    font-size: small;
}

.item-3 table.league_table tr td a {
    font-size: small;
}

.item-3 table.league_table tr td{
    padding: 12px 15px;
    border-bottom: 1px solid #dddd;
    font-weight: bolder;
    font-size: small;
}

.item-3 table.league_table tr:nth-of-type(even){
    background-color: rgb(221, 221, 221);
}

.item-3 table.league_table tr:nth-of-type(odd){
    background-color:rgb(134, 147, 160);
}



  .item-4 {
    grid-area: 3 / 3 / 4 / 4;
  }

  .item-4 table tr:nth-of-type(even){
    background-color: dodgerblue;
  }

  .item-4 table tr:nth-of-type(odd){
      background-color: ghostwhite;
  }

  