* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
  }

head{
    margin: 0;
    font-family: arial;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: x-large;
    }


body, html{
    margin: 0;
    font-family: Arial;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-item {
    background-color: rgb(241, 241, 241);
    border: 6px solid cornflowerblue;
    padding: 20px;
  }

  .graph-1 canvas, .graph-2 canvas, .graph-3 canvas{
        align-self: center;
        margin-right: auto;
        margin-left: auto;
  }