* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
  }

head{
    margin: 0;
    font-family: arial;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: x-large;
    }


body, html{
    margin: 0;
    font-family: Arial;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    grid-template-columns: repeat(3, 2fr);
}

.grid-item {
    background-color: rgb(250, 250, 250);
    border: 6px solid cornflowerblue;
    /* rgb(247, 238, 164); */
    padding: 20px;
    overflow: auto;
}

.item-1{
      grid-column: 1 / 4;
}

table {
    border-collapse: collapse; 
    
    font-size: 0.9em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px 5px 0 0;
}

table th  {
    background-color: royalblue;
    text-align: center;
    font-size: small;
}

table tr td{
    padding: 12px 15px;
    border-bottom: 1px solid #dddd;
    font-size: small;
}

table tr td a{
    font-size: small;
}

table tr td{
    text-align: center;
}

table tr:nth-of-type(even){
    background-color: rgb(221, 221, 221);
}

table tr:nth-of-type(odd){
    background-color:rgb(134, 147, 160);
}

h1{
    font-size: large;
}
