* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
  }

.row.navbar-top {
    padding-right: 0;
    margin-right: 0;
    padding-left: 1em;
}

.main-content {
    padding: 0 .3em;
    margin: 2.5% auto;
}

head{
    margin: 0;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: x-large;
    }


body, html{
    margin: 0;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

* a:hover,*a:hover{
    text-decoration: underline;
    text-decoration-color: #B5B574;
    text-decoration-thickness: 3px;
}

/* Navbar CSS below */
.navbar{
    padding-top: .75em;
}

.navbar-brand{
    font-family: Blinker;
    font-weight: 800;
    color: #242417;
    font-size: 40px;
}

.navbar-brand.team-brand{
    font-family: Blinker;
    font-weight: 800;
    font-size: 36px;
    color: #78784D;
    text-decoration: none;
}


.nav-link, .nav-text{
    font-family: Blinker;
    font-size: 20px;
    inline-size: max-content;
}

.navbar-togger-icon{
    color: #242417;
}

  .row-2{
      margin-top: 15px;
      background-image: linear-gradient(90deg,#D9D9CE, #d9d9ce00);
  }

  .row-2 .col-7{
    justify-content: center;
  }

  .season, .nav-link.browse{
      color:  #78784D !important;
      font-weight: 600;
  }

  ul.navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 97%;
  }

  ul.navbar-nav div li>a{
    font-weight: 600;
    color: #63635E !important;
}

ul.navbar-nav div li>a:hover{
    font-weight: bold;
    color: #63635E;
    text-decoration: underline #B5B574;
    text-decoration-thickness: 3px;
}

ul.navbar-nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown-item{
    font-family: Inria sans;
    font-weight: 400;
    color: #63635E;
    font-size: 16px;
    
}

.shadow-textbox {
    box-shadow: 0 2px 2px rgba(184, 192, 217, .4)
}

.btn, .modal-body{
    font-size: 16px;
}

.modal-title{
    font-size: 20px;
}

.modal-content{
    width: 375px;
    height: 500px;
}

.modal-header{
    height: 50px;
}

.modal-body{
    margin-left: -5%;
}

button.close{
    align-content: flex-end;
    font-size: 13px;
    width: 100px;
    margin-left: 270px;
    white-space: nowrap;
    text-align: center;
    font-family: Blinker;
    font-weight: 600;
    border: none;
    background: none;
}

button.navbar-toggler{
    position: relative;
}

.text-input{
    padding: 20px;
    margin-left: 12px;
}

.text-input input{
    width: 300px;
    font-family: Inria Sans;
    font-weight: 400;
    font-size: 16px;
    color: #D9D9CE;
}

.text-input input:focus{
    width: 300px;
    font-family: Inria Sans;
    font-weight: 400;
    font-size: 16px;
    color: #242417;
}

label.login-label{
    font-family: Inria Sans;
    font-weight: 400;
    font-size: 16px;
}

label.break{
    flex-basis: 100%;
    height: 0;
}

#submit-info input{
    background: 0;
    border-color: #78784D;
    border-width: 0.5px;
    font-size: 16px;
}

.login-register{
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    font-family: Blinker;
    font-weight: 600;
}
.item a{
    font-size: 16px; 
    margin-right: 15px;
    color:  #63635E;
}

li.dropdown .dropdown-menu {
    border-radius: .05rem;
    flex-direction: column;
    visibility: collapse;
}

li.dropdown .dropdown-menu.show {
    visibility: visible;
    display: block;
}


@media (min-width: 1260px) {
    .nav-link#seasonDropdown{
        outline: .5px #78784D solid;
        border-radius: 2px;
        padding: 8px 105px 8px 8px;
        margin-left: 15px;
    }
}

@media (max-width: 1260px) {
    nav.navbar{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 991px) {
    ul.navbar-nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    ul.navbar-nav div {
        flex-direction: column;
        align-items: center;
    }
    li.dropdown .dropdown-menu{
        display: none;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 7% 20%;
    }

    .nav-link.browse, .nav-link.season, .navbar-section.auth, li>.nav-item.browse-text, li>.nav-item.search-text {
        margin-top: 7%;
    }
}



/* Css for tables */
/* .row.table-responsive{
    width: 90%;
} */

h1#combined-league, h1#best-strikers{
    font-family: Blinker;
    font-weight: 600;
    font-size: 36px;
}

.table-responsive table.table-striped tbody tr td{
    font-family: Inria Sans;
    font-weight: 400;
    font-size: 21px;
    text-align: left;
}

.table-responsive table.table-striped thead tr th{
    font-family: Inria Sans;
    font-weight: 400;
    font-size: 21px;
    color: rgb(36, 36, 23);
    text-align: left;
}

.row-3 .col{
    margin: auto;
}

a.table-link{
    font-size: 21px;
    font-family: Inria Sans;
    font-weight: 700;
    color: rgb(99, 99, 94);
    text-decoration: none;
}

a.table-link:hover{
    text-decoration: underline;
    text-decoration-color: #B5B574;
    text-decoration-thickness: 3px;
}

.table-striped thead{
    background-color: rgba(99, 99, 94, 0.25);
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: white;
}

.table-striped tbody tr:nth-of-type(even){
    background-color: rgba(217, 217, 206, 0.6);
}

.table-striped tbody tr td{
    padding-top: 15px;
    color: rgb(99, 99, 94);
}

.navbar-toggler{
    margin-right: 1em;
}

/* Css for toptable-macros */
#topscorers, #topassists, #quicklinks{
    text-align: left;
    font-family: Blinker;
    font-weight: 600;
    font-size: 36px;
    color: #242417;
    padding-top: .5em;
}

.top-table .header{
    border-bottom:#B5B574;
    border-bottom-style: solid;
}

.top-table{
    width: 85%;
    height: 90%;
    margin: 5% 0;
    min-width: 330px;
}

.topcard-1, .topcard-2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    margin-bottom: 1rem;
}

.topcard > div > a {
    min-width: max-content;
}

.topcard {
    border-bottom:  #DADAB9;
    border-bottom-style: solid;
    border-bottom-width: .05em;

    display: flex;
    flex-direction: column;

    text-align: left;
}

.topcard-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.topcard-1 > *,  .topcard-2 > *{
    margin: 0 .5em;
}

.topcard-1 a {
    font-family: Blinker;
    font-weight: 600;
    font-size: 20px;
    color:  #63635E;
}

.topcard-1 p{
    font-family: Blinker;
    font-weight: 400;
    font-size: 20px;
    color:  #63635E;
    margin-right: .5em;
}

.topcard-1 p.val{
    font-family: Inria Sans;
    font-weight: 400;
    font-size: 25px;
    color:#4E76ED;
    margin: 0;
}

.topcard-2 {
    margin-top: -.75em;
}

.topcard-2 p{
    font-family: Blinker;
    font-weight: 400;
    font-size: 20px;
    color: #63635E;
    min-width: 73px;
}

.topcard-2 a, .topcard-2 p.val{
    font-family: Blinker;
    font-weight: 200;
    font-size: 20px;
    color: #63635E;
}

.topcard-2.team-info{
    display: flex;
    flex-wrap: wrap;
}

.top-metric {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.top-metric > p {
    margin-bottom: 0;
}

/* Css for breadcrumbs */
.breadcrumbs{
    justify-content: flex-start;
    font-family: Blinker;
    font-weight: 600;
    color: #63635E;

    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.breadcrumbs .crumb-option{
    margin: .25em;
}

.crumb-option a{
    text-decoration: none;
    color: #63635E;
    padding-bottom: 10px;
}

.crumb-option a:hover{
    text-decoration: underline;
    color: #63635E;
    text-decoration-color: #B5B574;
    text-decoration-thickness: 3px;
}

.crumb-option p, .crumb-option a{
    font-size: 18px;
}

/* BANNER CSS */
.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-item{
    margin: 1em;
}

.banner-item.numteams,  .banner-item.numplayers{
    font-family: Inria Sans;
    font-weight: 300;
    font-size: 45px;
    color: #4E76ED;
}

.banner-item>p{
    margin: 0;
}

.banner-item.banner-info-text{
    margin-left: -1em;
}

.banner-item{
    font-family: Blinker;
    font-weight: 600;
    font-size: 30px;
    color: #242417;
}

.banner{
    background-image: linear-gradient(90deg,#d9d9ce ,#d9d9ce00);
}

.banner-item.divider{
    height: 90%;
    width: .25%;
    background-color:  #63635E;
    color: #63635E;
}

.banner-item.divider p{
    opacity: 0%;
}

.team-title{
    font-family: Inria Sans;
    font-weight: 700;
    font-size: 48px;
    color: #78784D;
}

/* Css h1 tags */
h1.h1-title{
    font-family: Blinker;
    font-weight: 600;
    font-size: 36px;
    color: #242417;
    text-align: left;
}