.main-content{
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
}

.table-title{
    font-family: Blinker;
    font-weight: 600;
    font-size: 36px;
    color: #242417;
    margin-bottom: 0;
    
}

.row.thead{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#B5B574;
    text-align: left;
    width: 100%;
    margin: auto;
}

.row.top, .unfollowed.item-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row-item{
    font-family: Blinker;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color:#63635E;
}

.following{
    font-family: Blinker;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    color: #63635E;
}

.follow{
    font-family: Inria Sans;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}

.item-card.unfollowed{
    display: none;
}

.item-card.unfollowed:nth-child(-n + 9){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    align-items: baseline;
}

/* .row.unfollowed{
    display: flex;
    align-items: baseline;
    width: 100%;
    margin: auto;
} */

.row.searchbar{
    width: 90%;
    margin: auto;
    margin-top: .5em;
}

input{
    font-family: Inria Sans;
    font-weight: 400;
    font-size: 18px;
}

.row.thead{
    align-items: baseline;
}

.switch{
    font-family: Blinker;
    font-weight: 600;
    font-size: 18px;
    color: #63635E;
}

/* .item-card{
    width: 100%;
    margin: auto;
} */

.col.switch, .col.row-item{
    text-decoration: none;
    font-family: Blinker;
    font-weight: 600;
    font-size: 20px;
    color: #63635E;
}

.col.switch:hover, .col.row-item:hover{
    text-decoration: underline;
}

.followed>.item-card {
    padding: 1em;
    display: flex;
    justify-content: flex-start;
}

.unfollowed>.item-card {
    padding: 1em;
}

.card-name {
    min-width: max-content;
}

.unfollowed .action-item{
    text-decoration: none;
    font-family: Blinker;
    font-weight: 600;
    font-size: 18px;
    color: #242417;
}

.unfollowed .action-item:hover{
    text-decoration: underline;
}

.following.action-item{
    color: #78784D;
    text-decoration: none;
    
}

.following.action-item:hover{
    text-decoration: underline;
}

