* {
    box-sizing: border-box;
}

head {
    background: cornflowerblue;
}

body {
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: "hd hd"
                         "sidebar main"
                         "footer footer";
}

header,
aside,
main,
footer {
    padding: 16px;
    text-align: center;
}

header {
    background: rgb(0, 0, 0);
    grid-area: hd;
    text-align: left;
    font-size: large;
    padding: 1px;
    /* overflow: scroll; */
}



aside {
    background: #1271ec;
    grid-area: sidebar;
    /* overflow: scroll; */
}

main {
    grid-area: main;
    background: rgb(250, 250, 250);
}

footer {
    background: rgb(117, 116, 116);
    grid-area: footer;
    overflow: auto;
}

.league_links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
}

.league_item {
    margin: 0 10px;
}

.league_item a {
    text-decoration: none;
    color: white;
}

.league_item a:hover,
.league_item a:active {
    color: rgb(250, 250, 250);
}

.league_links h1{
    color: rgb(250, 250, 250);
}

table {
    border-collapse: collapse; 
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px 5px 0 0;
    overflow:auto;
}

table tr th {
   background-color: royalblue;
   text-align: center;
   font-weight: bold;
}

table tr td{
   padding: 12px 15px;
   border-bottom: 1px solid #dddd;
}

table tr:nth-of-type(even){
   background-color: rgb(221, 221, 221);
}

table tr:nth-of-type(odd){
   background-color:rgb(134, 147, 160);
}

table tr:last-of-type {
   border-bottom: royalblue;
}