* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
  }

head{
    margin: 0;
    font-family: arial;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: x-large;
    }


body, html{
    margin: 0;
    font-family: Arial;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.container-fluid{
    padding-top: 5px;
    padding-left: .25em;
}

/* Cookies css */
.cookies{
    display: flex;
    justify-content: flex-start;
    font-family: Blinker;
    font-weight: 600;
    color: #63635E;
}

.cookies .cookie-option{
    margin: .25em;
    font-size: 12px;
}
