* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
  }

head{
    margin: 0;
    font-family: arial;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: x-large;
    }


body, html{
    margin: 0;
    font-family: Arial;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.row{
    background-color: whitesmoke;
    
}