* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
  }

head{
    margin: 0;
    font-family: arial;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: x-large;
    }


body, html{
    margin: 0;
    font-family: Arial;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.container-fluid{
    padding-top: 5px;
    padding-left: .25em;
}

/* Breadcrumbs css */


/* Banner */

/* main-content css */
/* left col content */
#teamtable, #superlatives{
    text-align: left;
    font-family: Blinker;
    font-weight: 600;
    font-size: 36px;
    color: #242417;
    padding-top: .5em;
}

/* team table */


.league-table table tbody tr td a{
    font-size: 21px;
    color: #63635E;
    text-decoration: none;
}

.league-table table tbody tr td a:hover{
    text-decoration: underline;
}

.league-table td, .league-table th{
    text-align: left;
}

.table-responsive{
    width: 95%;
}

/* quick links css */
.quicklinks .links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links a{
    font-family: Blinker;
    font-weight: 600;
    font-size: 20px;
    color: #63635E;
    text-decoration: none;
}

.links a:hover{
    text-decoration: underline;
}

/* Superlatives section css */

.superlatives-table{
    width: 70%;
    height: 80%;
}

.superlatives-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: auto;
    margin-bottom: auto;
}

.superlatives-item p{
    font-family: Blinker;
    font-weight: 600;
    font-size: 25px;
    color: #63635E;
}

.superlatives-item a{
    font-family: Blinker;
    font-weight: 600;
    font-size: 20px;
    color: #63635E;
    text-decoration: none;
}

.superlatives-item a:hover{
    text-decoration: underline;
}

.superlative-title, .superlative-team, .superlative-value {
    margin-top: 1em;
}

.superlatives-item p.val{
    font-family: Blinker;
    font-weight: 200;
    font-size: 20px;
    color: #63635E;
}



