* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
  }

head{
    margin: 0;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: x-large;
    }


body, html{
    margin: 0;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}


.carousel-item{
    min-height: 500px;
}

.sr-only{
    color: black;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
  
.carousel .carousel-indicators .active {
    background-color: #444;
}

.carousel-caption h5, .carousel-caption p{
     font-size: medium;
     color: white;
}

.navbar{
    margin-top: 4px;
    margin-bottom: 3px;
    margin-left: 60px;
}

.navbar-brand{
    font-family: Blinker;
    font-weight: 800;
    color: #242417;
    font-size: 40px;
  }

  .nav-link, .nav-text{
    font-family: Blinker;
    font-weight: 600;
    color: #63635E;
    font-size: 20px;
  }

  .navbar-togger-icon{
    color: #242417;
  }

  .row-2{
      margin-top: 15px;
  }

  .dropdown-item{
      font-family: Inria sans;
      font-weight: 400;
      color: #63635E;
      font-size: 16px;
      
  }

@media (min-width: 1500px) {
    .nav-item{
        margin-top: 5px;
    }
  
    .genesis{
        margin-left: 60px;
    }
  
    .glossary{
        margin-left: 30px;
    }
  
    .league{
        margin-left: 30px;
    }
  
    .season-dropdown{
        margin-left: 160px;
    }
  
    .login{
        margin-left: 140px;
    }

    .browse{
        margin-left: 30px;
        margin-right: -50px;
    }

    .season-text{
        margin-right: -180px;
        margin-left: 30px;
    }

    
}
  




