#table-title{
    font-family: Blinker;
    font-weight: 600;
    font-size: 30px;
    color: #242417;
    text-align: left;
}

.main-content{
    width: 65%;
    margin: auto;
}

.table-responsive{
    margin: auto;
}

.top-of-table{
    margin-bottom: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


input{
    width: 45%!important;
    height: 70%;
    font-family: Inria Sans;
    font-size: 15px;
}


