{% extends 'base.html' %}

{% block head %}
<h1> European Football Leagues </h1>
{% endblock %}

{% block body %}
    <header>
        <ul class="league_links">
            {% for league in Leagues %}
            <a href="{{url_for('leagues', League=league.League)}}">{{league.League}}</a>
            <br>
    
            {% endfor %}
    
        </ul>
    </header>

    <main>
        <table class = "cl_table">
            <h4>Top 20 Teams From the Six Leagues</h2>
            <tr>
                <th>League</th>
                <th>Team</th>
                <th>M</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>PTS</th>
                <th>GF</th>
                <th>GA</th>
                <th>xG</th>
                <th>xGA</th>
            </tr>
    
            {% for row in combinedLeague %}
            <tr>
                <td>{{row.League}}</td>
                <td>{{row.Team}}</td>
                <td>{{row.M}}</td>
                <td>{{row.W}}</td>
                <td>{{row.D}}</td>
                <td>{{row.L}}</td>
                <td>{{row.PTS}}</td>
                <td>{{row.G}}</td>
                <td>{{row.GA}}</td>
                <td>{{ "%.2f"|format(row.xG) }}</td>
                <td>{{"%.2f"|format(row.xGA)}}</td>
            </tr>
            {% endfor %}
    
        </table>
    </main>

    <aside>
        <table class="cl_table">
            <h4>Top 30 Goal-Scorers From the Six Leagues</h2>
                <tr>
                    <th>Player</th>
                    <th>Team</th>
                    <th>Position</th>
                    <th>Goals</th>
                    <th>xG</th>
                    <th>Shots</th>
                </tr>
    
                {% for row in Players %}
                <tr>
                    <td>{{row.player_name}}</td>
                    <td>{{row.team_title}}</td>
                    <td>{{row.position}}</td>
                    <td>{{row.goals}}</td>
                    <td>{{ "%.2f"|format(row.xG) }}</td>
                    <td>{{row.shots}}</td>
                </tr>
                {% endfor %}
        </table>

    </aside>






















<!-- <div class="League Links">
    <h1>Leagues</h1>
    <ul class="league_links">
        {% for league in Leagues %}
        <a href="{{url_for('leagues', League=league.League)}}">{{league.League}}</a>
        <br>

        {% endfor %}

    </ul>
</div>


<div class = "Combined_Table">
    
    <table class = "cl_table">
        <h4>Top 20 Teams From the Six Leagues</h2>
        <tr>
            <th>League</th>
            <th>Team</th>
            <th>M</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>PTS</th>
            <th>GF</th>
            <th>GA</th>
            <th>xG</th>
            <th>xGA</th>
        </tr>

        {% for row in combinedLeague %}
        <tr>
            <td>{{row.League}}</td>
            <td>{{row.Team}}</td>
            <td>{{row.M}}</td>
            <td>{{row.W}}</td>
            <td>{{row.D}}</td>
            <td>{{row.L}}</td>
            <td>{{row.PTS}}</td>
            <td>{{row.G}}</td>
            <td>{{row.GA}}</td>
            <td>{{ "%.2f"|format(row.xG) }}</td>
            <td>{{"%.2f"|format(row.xGA)}}</td>
        </tr>
        {% endfor %}

    </table>

</div>
<div class="League_Players">
    <table class="cl_table">
        <h4>Top 30 Goal-Scorers From the Six Leagues</h2>
            <tr>
                <th>Player</th>
                <th>Team</th>
                <th>Position</th>
                <th>Goals</th>
                <th>xG</th>
                <th>Shots</th>
            </tr>

            {% for row in Players %}
            <tr>
                <td>{{row.player_name}}</td>
                <td>{{row.team_title}}</td>
                <td>{{row.position}}</td>
                <td>{{row.goals}}</td>
                <td>{{ "%.2f"|format(row.xG) }}</td>
                <td>{{row.shots}}</td>
            </tr>
            {% endfor %}
    </table>
</div> -->

{% endblock %}