{% extends 'base.html' %}

{% block head %}
<h1> {{League.League}} </h1>
{% endblock %}

{% block body %}
    <h1>League Table</h1>
    <table class="league_table">
        <tr>
            <th>Team</th>
            <th>M</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>PTS</th>
            <th>xPTS</th>
            <th>GF</th>
            <th>GA</th>
            <th>xG</th>
            <th>NPxG</th>
            <th>xGA</th>
            <th>NPxGA</th>
            <th>xG_diff</th>
            <th>xGA_diff</th>
            <th>PPDA</th>
            <th>OPPDA</th>
            <th>DC</th>
            <th>ODC</th>
        </tr>
        <tbody>
            {% for row in League %}
            <tr>
                <td>
                    <a href="{{url_for('teams', Team = row.Team)}} ">{{row.Team}}</a>
                </td>
                <td>{{row.M}}</td>
                <td>{{row.W}}</td>
                <td>{{row.D}}</td>
                <td>{{row.L}}</td>
                <td>{{row.PTS}}</td>
                <td>{{"%.2f"|format(row.xPTS)}}</td>
                <td>{{row.G}}</td>
                <td>{{row.GA}}</td>
                <td>{{"%.2f"|format(row.xG) }}</td>
                <td>{{"%.2f"|format(row.NPxG) }}</td>
                <td>{{"%.2f"|format(row.xGA)}}</td>
                <td>{{"%.2f"|format(row.NPxGA) }}</td>
                <td>{{"%.2f"|format(row.xG_diff)}}</td>
                <td>{{"%.2f"|format(row.xGA_diff)}}</td>
                <td>{{"%.2f"|format(row.PPDA)}}</td>
                <td>{{"%.2f"|format(row.OPPDA)}}</td>
                <td>{{row.DC}}</td>
                <td>{{row.ODC}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
    <table>
        <th><td>Attacking Recommendations</td></th>
        {% for players in Goals[0:5] %}
            <tr>
                <td>{{players.player_name}}</td>
                <td>Goals: {{players.goals}}</td>
            </tr>
        {% endfor %}

    </table>

    <h1>Top Assists</h1>
    <table>
        {% for players in Assists[0:5] %}
            <tr>
                <td>{{players.player_name}}</td>
                <td>Assists: {{players.assists}}</td>
            </tr>
        {% endfor %}

    </table>

    
{% endblock %}