<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Team.Team}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/teamGraph.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="graphs">
        <div class="grid-item graph-1">
            <h1>Age Distribution</h1>
            <canvas id="agebar" width="700" height="350"></canvas>
            <script>
                var ctx = document.getElementById("agebar").getContext("2d")
                var agebar = new Chart(ctx, {
                    type: "bar",
                    data: {
                        labels: {{ageLabels}},
                        datasets: [
                            {
                                label: "# of Players",
                                data: {{ageData}},
                                borderWidth: 2,
                                backgroundColor: 'rgba(54, 162, 235, 0.5)'
                            }
                        ]

                    }
                    ,
                    options: {
                        responsive: false
                    }
                })
            </script>
        </div>
        <div class="grid-item graph-2">
            <h1>Minute Distribution</h1>
            <canvas id="minbar" width="700" height="350"></canvas>
            <script>
                var ctx = document.getElementById("minbar").getContext("2d")
                var minbar = new Chart(ctx, {
                    type:"bar",
                    data:{
                        labels: {{minLabels | safe}},
                        datasets: [
                            {
                                label:"Minutes",
                                data: {{minData | safe}},
                                borderWidth: 2,
                                backgroundColor: 'rgba(54, 162, 235, 0.5)'
                            }
                        ]
                    }
                    ,
                    options: {
                        responsive: false
                    }
                })
            </script>
        </div>
        <div class="grid-item graph-3">
            <h1>Starts</h1>
            <canvas id="startbar" width="700" height="350"></canvas>
            <script>
                var ctx = document.getElementById("startbar").getContext("2d")
                var minbar = new Chart(ctx, {
                    type:"bar",
                    data:{
                        labels: {{startLabels | safe}},
                        datasets: [
                            {
                                label:"Starts",
                                data: {{startData | safe}},
                                borderWidth: 2,
                                backgroundColor: 'rgba(54, 162, 235, 0.5)'
                            }
                        ]
                    }
                    ,
                    options: {
                        responsive: false
                    }
                })
            </script>
        </div>
    </div>
</body>
</html>