{% macro banner(league, teams, players, flag_emoji,team="",position="", teamPlayers="", player="", playerORow = "")%}
<div class="banner">
    <!-- Left side dependent on page -->
    <div class="banner-item league-img">
        {% if team=="" %}
            <img src="" class="img-responsive" alt="{{league}}">
        {% elif player == "" %}
            <p class="team-title">{{team}}</p>
        {% else %}
            <p class="team-title">{{player}}</p>
        {% endif %}
    </div>
    <div class="banner-item divider">
        <p>l</p>
    </div>

    <!-- Right side content also dependent will change when teamBS gets setup-->
    

    {% if team == "" %}
        <div class="banner-item nation">
            <p>{{flag_emoji}}</p>
        </div>
        <div class="banner-item numteams">
            <p class="val">{{teams|length}}</p>
        </div>
        <div class="banner-item teams">
            <p>teams</p>
        </div>
        <div class="banner-item numplayers">
            <p class="val">{{players|length}}</p>
        </div>
        <div class="banner-item players">
            <p>players</p>
        </div>
    {% elif player == "" %}
        <div class="banner-item Tier">
            <p>Tier #{{teamPlayers[0].tier}}</p>
        </div>
        <div class="banner-item numposition">
            <p class="val">#{{position}}</p>
        </div>
        <div class="banner-item position">
            <p>in League</p>
        </div>
        <div class="banner-item numplayers">
            <p class="val">{{teamPlayers|length}}</p>
        </div>
        <div class="banner-item players">
            <p>players</p>
        </div>
    {% else %}
        <div class="banner-item nation">
            <p>{{flag_emoji}}</p>
        </div>
        <div class="banner-item team">
            <p>{{playerORow.Team}}</p>
        </div>
        <div class="banner-item playerPosition">
            <p>{{playerORow.Position}}</p>
        </div>
    {% endif %}
</div>
{% endmacro %}