{% macro breadcrumbs(league, team="", player="", glossary=False, lgPlayers = False, top = "", recs = "")%}
<div class="breadcrumbs">
    <div class="main crumb-option">
        <a href="{{url_for('index')}}">Main</a>
    </div>
    <div class="arrow crumb-option">
        <p>»</p>
    </div>
    {% if glossary == False %}
        <div class="league crumb-option">
            <a href="{{url_for('leagues', League = league)}}">{{league}}</a>
        </div>
        <div class="arrow crumb-option">
            <p>»</p>
        </div>
        {% if lgPlayers == False %}
            {% if top|length%}
                <div class="crumb-option">
                    <p>{{top}}</p>
                </div>
            {% else %}
                <div class="choose-team crumb-option">
                    {% if team == "" %}
                        <p>Choose team!</p>
                    {% else %}
                        {% if player != "" %}
                            <a href="{{url_for('teams', Team = team)}}">{{team}}</a>
                        {% elif recs != ""%}
                            <a href="{{url_for('teams', Team = team)}}">{{team}}</a>
                        {% else %}
                            <p>{{team}}</p>
                        {% endif %}
                    {% endif %}
                </div>
                {% if recs|length %}
                <div class="arrow crumb-option">
                    <p>»</p>
                </div>
                    {% if recs == "recs"%}
                    <div class="recs crumb-option">
                        <p>Recommended Signings</p>
                    </div>
                    {% elif recs == "graphs" %}
                    <div class="recs crumb-option">
                        <p>Graphs</p>
                    </div>
                    {% else %}
                    {% endif %}
                {% else %}
                {% endif %}

                {% if player != "" %}
                    <div class="arrow crumb-option">
                        <p>»</p>
                    </div>
                    <div class="choose-team crumb-option">
                        <p>{{player}}</p>
                    </div>
                {% else %}
                {% endif %}
            {% endif %}
        {% else %}
                <div class="lgPlayer crumb-option">
                    <p>All Players</p>
                </div>
        {% endif %}
    {% else %}
        <div class="glossary crumb-option">
            <p>Glossary</p>
        </div>
    {% endif %}
</div>
{% endmacro %}