{% from 'navbar-macro.html' import navbar %}
{% from 'breadcrumbs-macro.html' import breadcrumbs %}
{% from 'tweets-macro.html' import tweettable %}
{% from 'follow-macro.html' import follow %}
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/dashboardBS.css') }}">
<title>Dashboard</title>
{% endblock %}

{% block body %}
{{navbar(current_user, leagues, seasons, form, viewed_season)}}
<div class="container-fluid">
    <div class="row breadcrumbs">
        {{breadcrumbs("", "", "", True, False, "", "", "Account")}}
    </div>
    <div class="row main-content">
        <div class="col col-8">
            <div class="row tweet-table">
                {{tweettable(all_tweets)}}
            </div>
        </div>
        <div class="col col-4 shadow-sm">
            {% if toggle %}
            <div class="row thead">
                <h1 class="col table-title">Players</h1>
                <a class="col switch" href="{{url_for('dashboard', user_id = user_id, toggle = False, viewed_season  = viewed_season)}}">teams »</a>
            </div>
            {% else %}
            <div class="row thead">
                <h1 class="col table-title">Teams</h1>
                <a class="col switch" href="{{url_for('dashboard', user_id = user_id, toggle = True, viewed_season  = viewed_season)}}">players »</a>
            </div>
            {% endif %}
            {{follow(player_lst, unfollowed_players, team_lst, unfollowed_teams, user_id,toggle)}}
        </div>
    </div>
</div>


{% endblock %}