<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/dashboard.css') }}">
</head>
<body>
    <div class="grid-container">
        <div class="grid-item item-1">
            <h1>Welcome {{user.username}}</h1>
            <a href="{{url_for('logout')}}">Logout</a>
        </div>

        <div class="grid-item item-2">
            <h1>Followed Teams</h1>
            {% if team_lst|length == 0 %}
                <h1>You have no followed teams!</h1>
                <a href="{{url_for('followteams', user_id = user.id)}}">Follow teams!</a>
            {% else %}
                <ul>
                    {% for team in team_lst %}
                        <li>
                            <a href="{{url_for('teams', Team = team)}}">{{team}}</a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{url_for('followteams', user_id = user.id)}}">Follow more teams!</a>
            {% endif %}
            
        </div>
        <div class="grid-item item-3">
            <h1>Twitter Feed</h1>
        </div>
        <div class="grid-item item-4">
            <h1>Followed Players</h1>
            {% if player_lst|length == 0 %}
                <h1>You have no followed players!</h1>
                <a href="{{url_for('followplayers', user_id = user.id)}}">Follow some players!</a>
            {% else %}
                <ul>
                    {% for player in player_lst %}
                        <li>
                            <a href="{{url_for('players', Player = player)}}">{{player}}</a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{url_for('followplayers', user_id = user.id)}}">Follow more players!</a>
            {% endif %}
        </div>
    </div>
    
</body>
</html>