<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Follow Teams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/followteams.css') }}">
</head>
<body>
    <div class="grid-container">
        <div class="grid-item item-1">
            <h1>Follow teams!</h1>
            <a href="{{url_for('dashboard', user_id = user.id)}}"> back </a>
        </div>

        <div class="grid-item item-2">
            <h1>Teams</h1>
            {% for team in teams %}
            <ul>
                <li><a href="{{url_for('addteam', user_id = user.id, teamName = team.Team)}}">Follow {{team.Team}}</a></li>
            </ul>
            {% endfor %}
        </div>
        <div class="grid-item item-3">
            <h1>Unfollow Teams</h1>
            {% if uteams|length == 0 %}
                <h1>You have no teams to unfollow</h1>
            {% else %}
                {% for team in uteams %}
                <ul>
                    <li>
                        <a href="{{url_for('removeteam', user_id = user.id, teamName = team)}}">Unfollow {{team}}</a> 
                    </li>
                </ul>
                
                {% endfor %}
            {% endif %}
        </div>
    </div>
    
</body>
</html>