{% macro follow(player_lst, unfollowed_players, team_lst, unfollowed_teams, user_id,players = True) %}

{% if players %}

<div class="row followed">
    {% for player in player_lst %}
    <div class="item-card shadow-sm">
        <div class="row top">
            <a href="{{url_for('players', Player = player)}}" class="col row-item card-name">{{player}}</a>
            <a href="{{url_for('removeplayer', user_id = user_id, playerName = player)}}" class="col following action-item">Following</a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row thead">
    <h1 class="table-title">Follow more players</h1>
</div>
<div class="row searchbar">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for players...">
</div>
<div class="row unfollowed content list" id="unfollowed_player">
    <!-- <div class="content list" id="unfollowed_players"> -->
        {% for player in unfollowed_players %}
        <div class="item-card unfollowed shadow-sm">
            <a class="col row-item card-name" href="{{url_for('players', Player = player.Name)}}">{{player.Name}}</a>
            <a class="col follow action-item" href="{{url_for('addplayer', user_id = user_id, playerName = player.Name)}}">Follow</a>
        </div>
        {% endfor %}
    <!-- </div> -->
</div>
{% else %}

<div class="row followed">
    {% for team in team_lst %}
    <div class="item-card shadow-sm">
        <div class="row top">
            <a href="{{url_for('teams', Team = team)}}" class="col row-item card-name">{{team}}</a>
            <a href="{{url_for('removeteam', user_id = user_id, teamName = team)}}" class="col following action-item">Following</a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row thead">
    <h1 class="table-title">Follow more teams</h1>
</div>
<div class="row searchbar">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for players...">
</div>
<div class="row top unfollowed content list" id="unfollowed_teams">
    <!-- <div class="content list" id="unfollowed_players"> -->
        {% for team in unfollowed_teams %}
        <div class="item-card unfollowed shadow-sm">
            <a class="col row-item card-name" href="{{url_for('teams', Team = team.Team)}}">{{team.Team}}</a>
            <a class="col follow action-item" href="{{url_for('addteam', user_id = user_id, teamName = team.Team)}}">Follow</a>
        </div>
        {% endfor %}
    <!-- </div> -->
</div>
{% endif %}


<script>
    function myFunction(){
        var input, filter, content, listItems;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        if(filter === ""){
            filter = "!#$%"
        }
        content = document.getElementById("unfollowed_players");
        listItems = content.getElementsByClassName("item-card unfollowed");
        var filteredListItems = [];
        for(i = 0; i < listItems.length; i++){
            var listItem, capLItem, atag;
            listItem = listItems[i];
            // console.log(listItem);
            
            atag = listItem.getElementsByClassName("col row-item")[0];
            // console.log(atag);
            
            capLItem = atag.innerHTML.toUpperCase();
            // console.log(capLItem);

            if (capLItem.includes(filter)){
                console.log(capLItem);
                filteredListItems.push(listItem);
                listItem.style.display = "block";
            }
            else{
                listItem.style.display = "none";
            }
        }
        console.log(filteredListItems);
        
    }



    
</script>

{% endmacro %}