{% from 'navbar-macro.html' import navbar %}
{% from 'breadcrumbs-macro.html' import breadcrumbs %}

{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/genesisBS.css') }}">
<title>Genesis</title>
{% endblock %}

{% block body %}
{{navbar(current_user, leagues, seasons, form, viewed_season, "","", "", glossary)}}
<div class="container-fluid">
    <div class="row breadcrumbs">
        {{breadcrumbs("", "", "", True, False, "", "", "Genesis")}}
    </div>
    <div class="row main-content">
        <div class="row content intro shadow-sm">
            <h1 class="header-title">Intro</h1>
            <p>Ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium quasi, et voluptas,
                beatae nemo eligendi enim accusamus cum earum atque ipsam aut animi nihil.
                Architecto voluptas aut assumenda necessitatibus nemo.</p>
        </div>
        <div class="row content features shadow-sm">
            <h1 class="header-title">Features</h1>
            <p>Ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium quasi, et voluptas,
                beatae nemo eligendi enim accusamus cum earum atque ipsam aut animi nihil.
                Architecto voluptas aut assumenda necessitatibus nemo.</p>
        </div>
        <div class="row content credits shadow-sm">
            <h1 class="header-title">Credit To</h1>
            <p>Fbref for all the statistics and information</p>
            <p>All of the club crests used on the front page

                By Source, Fair use, https://sco.wikipedia.org/w/index.php?curid=169801
                By The logo is from the following website: https://www.realmadrid.com/, Fair use,
                https://en.wikipedia.org/w/index.php?curid=35239667
                By http://www.atleticodemadrid.com/, Fair use, https://en.wikipedia.org/w/index.php?curid=55146701

                By 2006/07 Corporate Social Responsibility Report, Fair use,
                https://en.wikipedia.org/w/index.php?curid=22765065
                By https://www.liverpoolfc.com/emails/pdf/membership_viewing_guide_chelsea_020512.pdf, Fair use,
                https://en.wikipedia.org/w/index.php?curid=22687343
                By Source, Fair use, https://sco.wikipedia.org/w/index.php?curid=169810

                By A.C. MilanUploaded by Vargklo at en.wikipedia - https://www.acmilan.com/, Public Domain,
                https://commons.wikimedia.org/w/index.php?curid=18780859
                By FC Internazionale Milano S.p.A. / Bureau Borsche - im.inter.it and @Inter, Public Domain,
                https://commons.wikimedia.org/w/index.php?curid=102636908
                By Interbrand - Juventus.com, Public Domain, https://commons.wikimedia.org/w/index.php?curid=61665335
                France
                By UEFA Technical Report 2017/18, Fair use, https://en.wikipedia.org/w/index.php?curid=55124716
                By http://s.asmonaco.com/asm/file/201507/brochure_as_monaco_hospitality_15_16_english.pdf, Fair use,
                https://en.wikipedia.org/w/index.php?curid=52895333
                By The logo is from the following website: http://www.losc.fr/ Taken from the French Wikipedia, where it
                was created and uploaded by Chabe01, Fair use, https://en.wikipedia.org/w/index.php?curid=61790803

                By FC Bayern Munich - fcbayern.com, Public Domain,
                https://commons.wikimedia.org/w/index.php?curid=60387182
                By This W3C-unspecified vector image was created with Inkscape by Lispir (Lispir) . - Own work
                azulgrana.futbolowo.pl/, Public Domain, https://commons.wikimedia.org/w/index.php?curid=18131689
                By The logo may be obtained from RB Leipzig., Fair use,
                https://en.wikipedia.org/w/index.php?curid=52900478
            </p>
        </div>
    </div>
</div>
{% endblock %}