{% from 'navbar-macro.html' import navbar %}
{% from 'breadcrumbs-macro.html' import breadcrumbs %}

{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/genesisBS.css') }}">
<title>Genesis</title>
{% endblock %}

{% block body %}
{{navbar(current_user, leagues, seasons, form, viewed_season, "","", "", glossary)}}
<div class="container-fluid">
    <div class="row breadcrumbs">
        {{breadcrumbs("", "", "", True, False, "", "", "Genesis")}}
    </div>
    <div class="row main-content">
        <div class="row content intro shadow-sm">
            <h1 class="header-title">Intro</h1>
            <p>
                I made this website to primarily display fbref information in a more user-friendly format while learning
                web development on the side. Starting out as a bunch of tables, this site gradually began to utilize the 
                data and create visualizations for players, team, and leagues. 
            </p>
        </div>
        <div class="row content features shadow-sm">
            <h1 class="header-title">Features</h1>
            <p>
                <ul>
                    <li>Tables displaying league, team, and player information from the top 5 European football leagues</li>
                    <li>Ability to switch from the past 3 seasons and view the different information</li>
                    <li>Graphs displaying various player and team data</li>
                    <li>Personal team assessment and player recommendations</li>
                    <li>Obtains tweets about specific specific players and teams</li>
                    <li>Support for custom users to follow specific teams and players.</li>
                </ul>
            </p>
        </div>
        <div class="row content process shadow-sm">
            <h1 class="header-title">Process</h1>
            <p>
                Inspired by playing a whole lot of Football Manager and being way too invested in the game, I wanted to 
                make something related to the real life footballing world as a fun passion project.
                At first I wanted to simply play around with the data tables from fbref and find interesting stats. 
                I wrote a script to obtain information on Europe's top five leagues but had no proper way of displaying the tables.
                As a result, I decided to make a website (and learn how to do that) alongside the fbref information.
                Originally the website was very simple and merely displayed tables of the information. Gradually over time, 
                I began implementing separate tabs and other charts for the information. I created a system to rank a team's weaknesses and 
                strengths which then recommended players to sign accordingly. Additionally, I played around with the Twitter developer API to 
                obtain transfer rumors pertaining to specific players and teams. This in turn made me create a user feature 
                so people could follow various players and teams and get twitter rumors.
            </p>
            <p>
                The website mainly uses the data from the sql tables in the database but certain pages utilized additional 
                logic. The team recommender for example, first analyzed a team's strengths and weaknesses by comparing their
                various offensive and defensive stats in relation to teams near them in the league and all the teams as a whole.
                This ranking resulted in a prioritization method which then chose the type of player a team should sign. If a team 
                has a strong defense, it would recommend to sign prospective young talent as the team wouldn't need a 
                top tier player to be immediately slotted into the team. All recommendations prefer to sign younger talents.
            </p>
            <p>
                To obtain the data I used BeautifulSoup and pandas. I accessed the data from fbref and converted the information into 
                panda dataframes. With these, I created additional columns from the various information before converting these dataframes into 
                sql tables and putting it onto a database which my website obtains its information from.
                I chose to use Flask as I was already familiar with python and its use of jinja templating was easy to use. This website uses the bootstrap framework
                as it allows me to create responsive and clean websites with relative ease. The charts are used with chartJS as 
                the templates were easy to understand and had a lot of features already built into the website. 
            </p>
            <p>
                In the future I want to obtain information from the 2021-2022 season and make the website update weekly with new information. 
                An improved recommender for players such as midfielders and defenders is also something I want to work on later down the line.
            </p>
            <p>
                Overall, through this website I was able to get a good taste of web development and web design. I feel a lot more confident in my HTML, CSS, and Javascript
                capabilities and thoroughly enjoyed working on this project.
            </p>
        </div>
        <div class="row content credits shadow-sm">
            <h1 class="header-title">Credit To</h1>
            <p>Fbref for all the statistics and information</p>
            <p>Special thanks to <a href="#">Michelle</a> for designing the website layout</p>
            <p>All of the club crests used on the front page
                <ul>
                    <li>
                        By Source, Fair use, https://sco.wikipedia.org/w/index.php?curid=169801
                    </li>
                    <li>
                        By The logo is from the following website: https://www.realmadrid.com/, Fair use,
                        https://en.wikipedia.org/w/index.php?curid=35239667
                    </li>
                    <li>
                        By http://www.atleticodemadrid.com/, Fair use, https://en.wikipedia.org/w/index.php?curid=55146701
                    </li>
                    <li>
                        By 2006/07 Corporate Social Responsibility Report, Fair use,
                        https://en.wikipedia.org/w/index.php?curid=22765065
                    </li>
                    <li>
                        By https://www.liverpoolfc.com/emails/pdf/membership_viewing_guide_chelsea_020512.pdf, Fair use,
                        https://en.wikipedia.org/w/index.php?curid=22687343
                    </li>
                    <li>
                        By Source, Fair use, https://sco.wikipedia.org/w/index.php?curid=169810
                    </li>
                    <li>
                        By A.C. MilanUploaded by Vargklo at en.wikipedia - https://www.acmilan.com/, Public Domain,
                        https://commons.wikimedia.org/w/index.php?curid=18780859
                    </li>
                    <li>
                        By FC Internazionale Milano S.p.A. / Bureau Borsche - im.inter.it and @Inter, Public Domain,
                        https://commons.wikimedia.org/w/index.php?curid=102636908
                    </li>
                    <li>
                        By Interbrand - Juventus.com, Public Domain, https://commons.wikimedia.org/w/index.php?curid=61665335
                    </li>
                    <li>
                        By UEFA Technical Report 2017/18, Fair use, https://en.wikipedia.org/w/index.php?curid=55124716
                    </li>
                    <li>
                        By http://s.asmonaco.com/asm/file/201507/brochure_as_monaco_hospitality_15_16_english.pdf, Fair use,
                        https://en.wikipedia.org/w/index.php?curid=52895333
                    </li>
                    <li>
                        By The logo is from the following website: http://www.losc.fr/ Taken from the French Wikipedia, where it
                        was created and uploaded by Chabe01, Fair use, https://en.wikipedia.org/w/index.php?curid=61790803
                    </li>
                    <li>
                        By FC Bayern Munich - fcbayern.com, Public Domain,
                        https://commons.wikimedia.org/w/index.php?curid=60387182
                    </li>
                    <li>
                        By This W3C-unspecified vector image was created with Inkscape by Lispir (Lispir) . - Own work
                        azulgrana.futbolowo.pl/, Public Domain, https://commons.wikimedia.org/w/index.php?curid=18131689
                    </li>
                    <li>
                        By The logo may be obtained from RB Leipzig., Fair use,
                        https://en.wikipedia.org/w/index.php?curid=52900478
                    </li>
                </ul>  
            </p>
        </div>
    </div>
</div>
{% endblock %}