<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genesis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/genesis.css') }}">
</head>
<body>
    <div class="grid-container">
        <div class="grid-item item-1">
            <h1>Genesis!</h1>
            <a href="{{url_for('index')}}">Back</a>
        </div>

        <div class="grid-item item-2">
            <h1>About this website</h1>
                <small>A personal project website that displays football statistics! Has information on the top 5 European leagues with detailed statistics
                    on both the teams and the players. 
                </small>
                
            <h1>Features</h1>
                <small>- In depth statistics and visuals on teams and players within the top 5 European football leagues. <br>
                    - For each team, analysis on their relative strengths and weaknesses are provided with recommended players to sign, prioritizing their weaknesses first.<br>
                    - User registration and login to follow your favorite teams and players and be given pertinent information on trasnfer rumors regarding them.<br>
                    
                </small>
            
            <h1>Planned Features</h1>
                    <small>- More comprehensive implementation and use of information from the prior season<br>
                        - A system of updating the results weekly and keeping of with the new season as it unfolds<br>
                        - Possible activity of predicting game result. <br>
                        - More robust player recommender (more in depth MF options, better DF criteria) <br>
                        - Twitter tweet scanning to include more accounts/more comprehensive. Currently big teams and big players are the most tweeted about. <br>
                        - Make tweepy faster/not as slow on startup <br>
                        - Create a player analysis like the one team has, identify areas the player could improve on
                    </small>

            
        </div>
        
    </div>
</body>
</html>