{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/leagueBS.css') }}">

{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row breadcrumbs">
        <div class="breadcrumbs">
            <div class="main crumb-option">
                <a href="">Main</a>
            </div>
            <div class="arrow crumb-option">
                <p>»</p>
            </div>
            <div class="league crumb-option">
                <a href="">League</a>
            </div>
            <div class="arrow crumb-option">
                <p>»</p>
            </div>
            <div class="choose-team crumb-option">
                <p>Choose team!</p>
            </div>
        </div>
    </div>
    <div class="row banner">
        <div class="banner">
            <div class="banner-item league-img">
                <img src="" class="img-responsive" alt="LeagueMSG">
            </div>
            <div class="banner-item divider">
                <p>l</p>
            </div>
            <div class="banner-item nation">
                <p>Nation</p>
            </div>
            <div class="banner-item numteams">
                <p class="val">NUMBER</p>
            </div>
            <div class="banner-item teams">
                <p>teams</p>
            </div>
            <div class="banner-item numplayers">
                <p class="val">NUMBER</p>
            </div>
            <div class="banner-item players">
                <p>players</p>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}