{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/leagueBS.css') }}">

{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row cookies">
        <div class="cookies">
            <div class="main cookie-option">
                <a href="">Main</a>
            </div>
            <div class="arrow cookie-option">
                <p>»</p>
            </div>
            <div class="league cookie-option">
                <a href="">League</a>
            </div>
            <div class="arrow cookie-option">
                <p>»</p>
            </div>
            <div class="choose-team cookie-option">
                <p>Choose team!</p>
            </div>
        </div>
    </div>
    <div class="row banner">
        <h1>Banner</h1>
    </div>
</div>
{% endblock %}