<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/teamgraph.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{url_for('static', filename='css/js/playertabs.js')}}" defer></script>
    <title>League Stats</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item item-1">
            League Statistics
            <ul class="link-list">
                <li class="link-item"><a class="nav" href="{{url_for('leagues', League=League)}}">Back</a></li>
                <li class="link-item"></li><a  class="nav" href="{{ url_for('terms')}}" target="_blank"> Terms </a></li>
            </ul>
        </div>
        <div class="grid-item item-2">
            <ul class="tabs">
                <li data-tab-target="#GSC" class="active tab">GSC</li>
                <li data-tab-target="#Shot" class="tab">Shot</li>
                <li data-tab-target="#Passing" class="tab">Passing</li>
                <li data-tab-target="#Defense" class="tab">Defense</li>
            </ul>

            <div class="tab-content">
                <div id="GSC" data-tab-content class="active">
                    <div class="grid-item graph-1">
                        <h1>Goal Scoring Chances</h1>
                        <canvas id="gscbar" width="900" height="400"></canvas>
                        <script>
                            var ctx = document.getElementById("gscbar").getContext("2d")
                            var agebar = new Chart(ctx, {
                                type: "bar",
                                data: {
                                    labels: {{gscLabels | safe}},
                                    datasets: [
                                        {
                                            label: "Goal Creating Actions",
                                            data: {{gcaData | safe}},
                                            borderWidth: 2,
                                            backgroundColor: 'rgba(54, 162, 235)'
                                        }
                                        ,{
                                            label: "Shot Creating Actions",
                                            data: {{scaData | safe}},
                                            borderWidth: 2,
                                            backgroundColor:'rgba(255, 99, 132)'
                                        },
                                        {
                                            label: "Goal/Shot Percentage",
                                            data: {{gspropData | safe}},
                                            borderWidth: 2,
                                            backgroundColor:'rgba(255, 206, 86)'
                                        }
                                    ]
            
                                }
                                ,
                                options: {
                                    responsive: false
                                }
                            })
                        </script>
                    </div>
                </div>

                <div id="Shot" data-tab-content>
                    <div class="grid-item graph-2">
                        <h1>Shooting</h1>
                        <canvas id="shotbar" width="900" height="400"></canvas>
                        <script>
                            var ctx = document.getElementById("shotbar").getContext("2d")
                            var minbar = new Chart(ctx, {
                                type:"bar",
                                data:{
                                    labels: {{shotLabels | safe}},
                                    datasets: [
                                        {
                                            label:"Goals",
                                            data: {{glsData | safe}},
                                            borderWidth: 2,
                                            backgroundColor: 'rgba(54, 162, 235)'
                                        },
                                        {
                                            label:"xG",
                                            data: {{xGData | safe}},
                                            borderWidth: 2,
                                            backgroundColor: 'rgba(255, 99, 132)'
                                        },
                                        {
                                            label: "xG Diff",
                                            data: {{xGDiffData | safe}},
                                            borderWidth: 2,
                                            backgroundColor:'rgba(255, 206, 86)'
                                        }
                                    ]
                                }
                                ,
                                options: {
                                    responsive: false
                                }
                            })
                        </script>
                    </div>
                </div>

                <div id="Passing" data-tab-content>
                    <div class="grid-item graph-3">
                        <h1>Passing</h1>
                        <canvas id="passbar" width="900" height="400"></canvas>
                        <script>
                            var ctx = document.getElementById("passbar").getContext("2d")
                            var minbar = new Chart(ctx, {
                                type:"bar",
                                data:{
                                    labels: {{passLabels | safe}},
                                    datasets: [
                                        {
                                            label:"Key Passes",
                                            data: {{kpData | safe}},
                                            borderWidth: 2,
                                            backgroundColor: 'rgba(54, 162, 235)'
                                        },
                                        {
                                            label:"Final Third Passes",
                                            data: {{ftpData | safe}},
                                            borderWidth: 2,
                                            backgroundColor: 'rgba(255, 99, 132)'
                                        },
                                        {
                                            label: "Passes inside penalty area",
                                            data: {{ppaData | safe}},
                                            borderWidth: 2,
                                            backgroundColor:'rgba(255, 206, 86)'
                                        },
                                        {
                                            label: "Crosses into penalty area",
                                            data: {{crsData | safe}},
                                            borderWidth: 2,
                                            backgroundColor: 'rgb(50,205,50)'
                                        }
                                    ]
                                }
                                ,
                                options: {
                                    responsive: false
                                }
                            })
                        </script>
                    </div>
                </div>

                <div id="Defense" data-tab-content>
                    <div class="grid-item graph-4">
                        <h1>Passing</h1>
                        <canvas id="defbar" width="900" height="400"></canvas>
                        <script>
                            var ctx = document.getElementById("defbar").getContext("2d")
                            var minbar = new Chart(ctx, {
                                type:"bar",
                                data:{
                                    labels: {{defenseLabels | safe}},
                                    datasets: [
                                        {
                                            label:"Tackle Percentage",
                                            data: {{tklPData | safe}},
                                            borderWidth: 2,
                                            backgroundColor: 'rgba(54, 162, 235)'
                                        },
                                        {
                                            label:"Defensive 3rd Pressures",
                                            data: {{d3pData | safe}},
                                            borderWidth: 2,
                                            backgroundColor: 'rgba(255, 99, 132)'
                                        },
                                        {
                                            label: "Middle 3rd Pressures",
                                            data: {{m3pData | safe}},
                                            borderWidth: 2,
                                            backgroundColor:'rgba(255, 206, 86)'
                                        },
                                        {
                                            label: "Offensive 3rd Pressures",
                                            data: {{a3pData | safe}},
                                            borderWidth: 2,
                                            backgroundColor: 'rgb(50,205,50)'
                                        }
                                    ]
                                }
                                ,
                                options: {
                                    responsive: false
                                }
                            })
                        </script>
                </div>
            </div>
        </div>
</body>
</html>