{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/leagueBS.css') }}">

{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row breadcrumbs">
        <div class="breadcrumbs">
            <div class="main crumb-option">
                <a href="">Main</a>
            </div>
            <div class="arrow crumb-option">
                <p>»</p>
            </div>
            <div class="league crumb-option">
                <a href="">League</a>
            </div>
            <div class="arrow crumb-option">
                <p>»</p>
            </div>
            <div class="choose-team crumb-option">
                <p>Choose team!</p>
            </div>
        </div>
    </div>
    <div class="row banner">
        <div class="banner">
            <div class="banner-item league-img">
                <img src="" class="img-responsive" alt="{{league}}">
            </div>
            <div class="banner-item divider">
                <p>l</p>
            </div>
            <div class="banner-item nation">
                <p>Nation</p>
            </div>
            <div class="banner-item numteams">
                <p class="val">{{teams|length}}</p>
            </div>
            <div class="banner-item teams">
                <p>teams</p>
            </div>
            <div class="banner-item numplayers">
                <p class="val">NUMBER</p>
            </div>
            <div class="banner-item players">
                <p>players</p>
            </div>
        </div>
    </div>
    <div class="row main-content">
        <div class="col col-7 left-col">
            <h1 id="teamtable">Team Table</h1>
            <div class="row table-responsive">
                <div class="league-table">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Team</th>
                                <th>MP</th>
                                <th>W</th>
                                <th>D</th>
                                <th>L</th>
                                <th>PTS</th>
                                <th>GF</th>
                                <th>GA</th>
                                <th>xG</th>
                                <th>xGA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Insert jinja and add the rows here -->
                            {% for team in teams %}
                            <tr>
                                <td><a href="{{url_for('teams', Team = team.Team)}}">{{team.Team}}</td>
                                <td>{{team.MP}}</td>
                                <td>{{team.W}}</td>
                                <td>{{team.D}}</td>
                                <td>{{team.L}}</td>
                                <td>{{team.Pts}}</td>
                                <td>{{team.GF}}</td>
                                <td>{{team.GA}}</td>
                                <td>{{team.xG}}</td>
                                <td>{{team.xGA}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row superlatives">
                <h1 id="superlatives">League Superlatives</h1>
            </div>
        </div>

        <div class="col col-1 gap-col"></div>

        <div class="col col-4 right-col">
            <div class="row quicklinks">
                <h1 id="quicklinks">Quick Links »</h1>
                <div class="links">
                    <a href="">Top Players</a>
                    <a href="">Top Prospects</a>
                    <a href="">Comparison of Team Stats</a>
                    <a href="">List of all players</a>
                </div>
            </div>

            <div class="row top-striker">
                <div class="top-table">
                    <div class="header">
                        <h1 id="topscorers">Top Scorers</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}