{% macro navbar(current_user, leagues, seasons, form, viewed_season, league = "", team = "", player ="", 
                glossary = False, lgPlayers = False, top = "") %}
<div class="row navbar-top shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
        {% if team =="" %}
            <a class="navbar-brand" href="{{url_for('index')}}">wh-fbstats</a>
        {% else %}
            <a class="navbar-brand team-brand" href="">Team Stats</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <div class="navbar-section site-nav">

                    {% if team == "" %}
                        <li class="nav-item active genesis">
                            <a class="nav-link" href="{{url_for('genesis')}}">Genesis</a>
                        </li>
                        <li class="nav-item glossary">
                            <a class="nav-link" href="{{url_for('terms')}}">Glossary</a>
                        </li>
                        <li class="nav-item browse-text">
                            <text class="nav-link browse">Browse By »</text>
                        </li>
                        <li class="nav-item league dropdown">
                            <a class="nav-link shadow-textbox" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if league|length %}
                                    {{league}}
                                {% else %}
                                    Choose League!
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for league in leagues %}
                                <a class="dropdown-item"
                                    href="{{url_for('leagues', League = league.League, viewed_season = viewed_season)}}">{{league.League}}</a>
                                {% endfor %}
                            </div>
                        </li>

                    {% else %}
                        {% if player != "" %}
                            <li class="nav-item active back-team">
                                <a class="nav-link" href="{{url_for('teams', Team = team, viewed_season = viewed_season)}}">« Team</a>
                            </li>
                            <li class="nav-item active back-league">
                                <a class="nav-link" href="{{url_for('leagues', League = league, viewed_season = viewed_season)}}">« League</a>
                            </li>
                            <li class="nav-item back-main">
                                <a class="nav-link" href="{{url_for('index')}}">« Main</a>
                            </li>
                            <li class="nav-item glossary">
                                <a class="nav-link" href="{{url_for('terms')}}">Glossary</a>
                            </li>
                        {% else %}
                            <li class="nav-item active back-league">
                                <a class="nav-link" href="{{url_for('leagues', League = league, viewed_season = viewed_season)}}">« League</a>
                            </li>
                            <li class="nav-item back-main">
                                <a class="nav-link" href="{{url_for('index')}}">« Main</a>
                            </li>
                            <li class="nav-item glossary">
                                <a class="nav-link" href="{{url_for('terms')}}">Glossary</a>
                            </li>
                        {% endif %}
                        
                    {% endif %}


                        <li class="nav-item season-text">
                            <text class="nav-link season">Season</text>
                        </li>
                    <li class="nav-item season-dropdown dropdown">
                        <a class="nav-link shadow-textbox" href="#" id="seasonDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{viewed_season}}</a>
                        <div class="dropdown-menu" id="season-nav-dropdown" aria-labelledby="navbarDropdown">
                            {% for season in seasons %}
                            <!-- WHEN MIGRATING CHANGE URL_FOR TO INDEX -->
                            <!-- Need to do something about this for the base template -->
                                {% if player|length %}
                                
                                <a class="dropdown-item" href="{{url_for('players', Player = player, viewed_season = season.season)}}">
                                    {{season.season}}
                                </a>
                                {% elif team|length %}
                                    {% if top == "" %}
                                    <a class="dropdown-item" href="{{url_for('teams', Team = team, viewed_season = season.season)}}">
                                        {{season.season}}
                                    </a>
                                    {% elif top== "teamGraphs" %}
                                    <a class="dropdown-item" href="{{url_for('graphs', Team = team, viewed_season = season.season)}}">
                                        {{season.season}}
                                    </a>
                                    {% else %}
                                    <a class="dropdown-item" href="{{url_for('recSignings', Team = team, viewed_season = season.season)}}">
                                        {{season.season}}
                                    </a>
                                    {% endif %}
                                {% elif league|length %}
                                    {% if lgPlayers %}
                                    <a class="dropdown-item" href="{{url_for('LeaguePlayers', League = league, viewed_season = season.season)}}">
                                        {{season.season}}
                                    </a> 
                                    {% elif top|length %}
                                    <!-- Can do more clarification later -->
                                        {% if top == "Players" %}
                                            <a class="dropdown-item" href="{{url_for('topplayers', League = league, viewed_season = season.season)}}">
                                                {{season.season}}
                                            </a>
                                        {% elif top == "Prospects" %}
                                            <a class="dropdown-item" href="{{url_for('topprospects', League = league, viewed_season = season.season)}}">
                                                {{season.season}}
                                            </a>
                                        {% else %}
                                        <a class="dropdown-item" href="{{url_for('leaguestats', League = league, viewed_season = season.season)}}">
                                            {{season.season}}
                                        </a>
                                        {% endif %}   
                                    {% else %}
                                    <a class="dropdown-item" href="{{url_for('leagues', League = league,viewed_season = season.season)}}">
                                        {{season.season}}
                                    </a>
                                    {% endif %}
                                {% else %}
                                    {% if glossary %}
                                    {% else %}
                                    <a class="dropdown-item" href="{{url_for('index', viewed_season = season.season)}}">
                                        {{season.season}}
                                    </a>
                                    {% endif %}
                                {% endif %}
                            
                            {% endfor %}
                        </div>
                    </li>
                </div>
                <div class="navbar-section auth">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('dashboard', user_id = current_user.id)}}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item login">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">Log in</a>
                    </li>
                    <li class="nav-item register">
                        <a class="nav-link" href="{{url_for('register')}}">Register</a>
                    </li>
                    {% endif %}
                </div>
            </ul>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLabel">Login Modal</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            Close X
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="d-block w-100" src="..." alt="Picture Placeholder">
                        <form id="loginModal" method="POST" action="">
                            {{form.hidden_tag()}}
                            <label class="login-label username">Username: </label>
                            <span class="text-input">{{form.username}}</span>
                            <label class="break"></label>
                            <label class="login-label password">Password: </label>
                            <span class="text-input">{{form.password}}</span>

                            <div class="login-register">
                                <div class="item"><span id="submit-info">{{form.submit}}</span></div>
                            </div>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>
    </nav>
</div>

{% endmacro %}