{% from 'navbar-macro.html' import navbar %}
{% from 'toptable-macro.html' import toptable %}
{% from 'breadcrumbs-macro.html' import breadcrumbs %}
{% from 'banner-macro.html' import banner %}
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/playerBS.css') }}">
<title>{{player}}</title>
{% endblock %}

{% block body %}
{{navbar(leagues, seasons, form, viewed_season,league, team, player)}}
<div class="container-fluid">
    <div class="row breadcrumbs">
        {{breadcrumbs(league, team, player)}}
    </div>
    <div class="row banner">
        {{banner(league, teams, players, flag_emoji,team, position, teamPlayers, player, playerORow)}}
    </div>
    <div class="row main-content">
        
    </div>
</div>

{% endblock %}