<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/player.css') }}">
    <title>{{pO.Name}}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item item-1">
            <h1>{{pO.Name}}</h1>
        </div>


        <div class="grid-item item-2">
            <h1>Background Info</h1>
            <a href="{{ url_for('terms')}}" target="_blank"> Terms </a>
            <ul class="player_stats">
                <li class="stat">Age: {{pO.Age}} </li>
                <li class="stat">Nation: {{pO.Country}} </li>
                <li class="stat">Position: {{pO.Position}} </li>
                <li class="stat">Minutes: {{ "%.2f"|format(pO.minutes)}}</li>
                <li class="stat"><a href="{{url_for('teams', Team = pO.Team)}} ">{{pO.Team}}</a></li>
            </ul>
        </div>


        <div class="grid-item item-3">
            <h1>Shot Data</h1>
            <canvas id="shotRadar", width="400", height="400"></canvas>
            <script>
                var ctx = document.getElementById("shotRadar").getContext("2d")
                var shotRadar = new Chart(ctx, {
                    type: "radar",
                    data: {
                        labels: {{pOLabels|safe}},
                        datasets: [
                            {
                                label: "Player Stat",
                                data: {{pOData}},
                                fill: true,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgb(54, 162, 235)',
                                pointBackgroundColor: 'rgb(54, 162, 235)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgb(54, 162, 235)'
                            },{
                                label: "T1 Avg",
                                data: {{pOT1Data}},
                                fill: true,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132)',
                                pointBackgroundColor: 'rgba(255, 99, 132)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgba(255, 99, 132)'
                            },{
                                label: "Players in the same position",
                                data: {{oPOData}},
                                fill: true,
                                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                                borderColor: 'rgba(255, 206, 86)',
                                pointBackgroundColor: 'rgba(255, 206, 86)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgba(255, 206, 86)'
                            }
                        ]
                    }
                    ,
                    options: {
                        responsive: false
                    }
                })
            </script>

            <h1>Shot & Goal Creation</h1>
            <canvas id="SGCRadar", width="500", height="700"></canvas>
            <script>
                var ctx = document.getElementById("SGCRadar").getContext("2d")
                var shotRadar = new Chart(ctx, {
                    type: "radar",
                    data: {
                        labels: {{pGSCLabels|safe}},
                        datasets: [
                            {
                                label: "Player Stat",
                                data: {{pGSCData}},
                                fill: true,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgb(54, 162, 235)',
                                pointBackgroundColor: 'rgb(54, 162, 235)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgb(54, 162, 235)'
                            },{
                                label: "T1 Stat",
                                data: {{pGSCT1Data}},
                                fill: true,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132)',
                                pointBackgroundColor: 'rgba(255, 99, 132)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgba(255, 99, 132)'
                            },
                            {
                                label: "Players in the same position",
                                data: {{oppGSCData}},
                                fill: true,
                                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                                borderColor: 'rgba(255, 206, 86)',
                                pointBackgroundColor: 'rgba(255, 206, 86)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgba(255, 206, 86)'
                            }
                        ]
                    }
                    ,
                    options: {
                        responsive: false
                    }
                })
            </script>
        </div>


        <div class="grid-item item-4">
            <h1>Defensive Data</h1>
            <canvas id="defRadar", width="500", height="700"></canvas>
            <script>
                var ctx = document.getElementById("defRadar").getContext("2d")
                var shotRadar = new Chart(ctx, {
                    type: "radar",
                    data: { //replace pOLabels and pOData
                        labels: {{pDLabels|safe}},
                        datasets: [
                            {
                                label: "Player Stat",
                                data: {{pDData}},
                                fill: true,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgb(54, 162, 235)',
                                pointBackgroundColor: 'rgb(54, 162, 235)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgb(54, 162, 235)'
                            }, {
                                label: "T1 Avg",
                                data: {{pDT1Data}},
                                fill: true,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132)',
                                pointBackgroundColor: 'rgba(255, 99, 132)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgba(255, 99, 132)'
                            },{
                                label: "Players in the same position",
                                data: {{oPDData}},
                                fill: true,
                                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                                borderColor: 'rgba(255, 206, 86)',
                                pointBackgroundColor: 'rgba(255, 206, 86)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgba(255, 206, 86)'
                            }
                        ]
                    }
                    ,
                    options: {
                        responsive: false
                    }
                })
            </script>
        </div>

        <div class="grid-item item-5">
            <h1>Passing Percentages</h1>
            <canvas id="passRadar", width="400", height="400"></canvas>
            <script>
                var ctx = document.getElementById("passRadar").getContext("2d")
                var shotRadar = new Chart(ctx, {
                    type: "radar",
                    data: { //replace pOLabels and pOData
                        labels: {{pPLabels|safe}},
                        datasets: [
                            {
                                label: "Player Stats",
                                data: {{pPData}},
                                fill: true,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgb(54, 162, 235)',
                                pointBackgroundColor: 'rgb(54, 162, 235)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgb(54, 162, 235)'
                            },
                            {
                                label: "T1 Avg",
                                data: {{pPT1Data}},
                                fill: true,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132)',
                                pointBackgroundColor: 'rgba(255, 99, 132)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgba(255, 99, 132)'
                            },{
                                label: "Players in the same position",
                                data: {{oPPData}},
                                fill: true,
                                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                                borderColor: 'rgba(255, 206, 86)',
                                pointBackgroundColor: 'rgba(255, 206, 86)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgba(255, 206, 86)'
                            }
                        ]
                    }
                    ,
                    options: {
                        responsive: false
                    }
                })
            </script>

            <h1>Passing Stats</h1>
            <canvas id="passRadar2", width="400", height="400"></canvas>
            <script>
                var ctx = document.getElementById("passRadar2").getContext("2d")
                var shotRadar = new Chart(ctx, {
                    type: "radar",
                    data: { //replace pOLabels and pOData
                        labels: {{pPLabels2|safe}},
                        datasets: [
                            {
                                label: "Player Stats",
                                data: {{pPData2}},
                                fill: true,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgb(54, 162, 235)',
                                pointBackgroundColor: 'rgb(54, 162, 235)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgb(54, 162, 235)'
                            },
                            {
                                label: "T1 Avg",
                                data: {{pPT1Data2}},
                                fill: true,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132)',
                                pointBackgroundColor: 'rgba(255, 99, 132)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgba(255, 99, 132)'
                            },{
                                label: "Players in the same position",
                                data: {{oPPData2}},
                                fill: true,
                                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                                borderColor: 'rgba(255, 206, 86)',
                                pointBackgroundColor: 'rgba(255, 206, 86)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgba(255, 206, 86)'
                            }
                        ]
                    }
                    ,
                    options: {
                        responsive: false
                    }
                })
            </script>
        </div>
    </div>
</body>
</html>