{% from 'navbar-macro.html' import navbar %}
{% from 'toptable-macro.html' import toptable %}
{% from 'breadcrumbs-macro.html' import breadcrumbs %}
{% from 'banner-macro.html' import banner %}
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fbref/teamBS.css') }}">
<title>{{team}}</title>
{% endblock %}


{% block body %}

{{navbar(leagues, seasons, form, viewed_season,league, team)}}
<div class="container-fluid">
    <div class="row breadcrumbs">
        {{breadcrumbs(league, team)}}
    </div>
    <div class="row banner">
       {{banner(league, teams, players, team, position, teamPlayers)}}
    </div>

</div>

{% endblock %}
