{% macro tweettable(tweets) %}
<div class="top-table shadow-sm">
    <div class="header">
        <h1 id="topscorers">Tweets</h1>
    </div>
    <!-- jinja this bit  -->
    {% for tweet in tweets %}
        <div class="topcard">
            <div class="topcard-1">
                <div class="top-metric">
                    <p>{{tweet[0]}}</p>
                </div>
            </div>
            <div class="topcard-2 team-info">
                <p>{{tweet[1]}}</p>
            </div>
            <div class="topcard-2">
                <p>{{tweet[2]}}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endmacro %}